body {
  font-family: Helvetica;
  text-align: center;
}
div .heading {
   background-image: url("../media/photo/the-flatiron-building.png (1830×297).url");
}
h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}
