body {
  font-family: Helvetica;
  text-align: center;
}
.heading {
   background-image: url("../media/photo/the-flatiron-building.png");
   color: White;
   }
h1 {
  font-size: 70px;
  font-weight: bold;
}
.nav a {
  text-decoration: none;
  color: White;
  font-size: 18px;
  font-weight: bold;
  }
h2 {
  font-size: 32px;
  font-weight: bold;
}
h3 {
  font-size: 23px;
  font-weight: 23;
}
.small {
  font-size: 14px;
}
#diny {
  background-image: url("../media/photo/the-flatiron-building.png");
  color: White;
  font-size: 23px;
  font-weight: bold;
}
.footer {
  font-size: 11px;
  color: White;
  background-color: dimgray;
  text-align: left;
}
.navfoot {
  color: White;

}
